In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
df=pd.read_csv('Google Business Data with all reviews.csv')
df.head()

,Primary__Hotel Name,Primary__Google Travel,Primary__Total Reviews,Primary__Rating,Primary__Hotel Address,Primary__Contact Number,Primary__Official Website Link,Primary__Date,Primary__Check In Time,Primary__Check Out Time,...,Rates__Price,Reviews__name,Reviews__review,Reviews__service rate__Rooms,Reviews__service rate__Service,Reviews__service rate__Location,Tripadvisor Ratings__Location,Tripadvisor Ratings__Cleanliness,Tripadvisor Ratings__Service,Tripadvisor Ratings__Value
0,Comfort Suites Johnson Creek Conference Center,"₹7,172",840 reviews,4.1,"725 Paradise Ln, Johnson Creek, WI 53038, Unit...",+1 920-699-2800,https://www.choicehotels.com/wisconsin/johnson...,Aug 29 - 30,3:00 PM,11:00 AM,...,"₹6,804",Alissa Cotter,We stayed at this hotel last weekend for a sof...,4.0,1.0,4.0,3.6,4.0,3.9,3.7
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"₹6,381",Nicholas P,Run away! The management at this place has abs...,4.0,1.0,2.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"₹6,381",Lacey Mattsen,Mediocre at best. And this below isn't even th...,2.0,1.0,3.0,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"₹6,381",Nicholas Parker,Run away! The management at this place has abs...,1.0,1.0,1.0,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"₹6,381",Shelby Bowles,Was told they had a pool & hot tub. Get there ...,2.0,1.0,3.0,NaN,NaN,NaN,NaN

In [4]:
df = df[['Reviews__name', 'Reviews__review']]

In [5]:
df = df.rename(columns={'Reviews__name': 'name', 'Reviews__review': 'review'})

# Drop rows with missing values in the retained columns
df = df.dropna(subset=['name', 'review'])

In [7]:
df.head()

              name                                             review
0    Alissa Cotter  We stayed at this hotel last weekend for a sof...
1       Nicholas P  Run away! The management at this place has abs...
2    Lacey Mattsen  Mediocre at best. And this below isn't even th...
3  Nicholas Parker  Run away! The management at this place has abs...
4    Shelby Bowles  Was told they had a pool & hot tub. Get there ...

In [8]:
df=df.dropna()
df.shape

(2268, 2)

In [9]:
df.isnull().sum()

name      0
review    0
dtype: int64

In [10]:
df.tail()

                      name                                             review
2264       Ernesto Jimenez  (Translated by Google) T because it has a hydr...
2274  Juan “Acmet666” Akym  (Translated by Google) Excellent(Original)Exel...
2276                   李洪勇  (Translated by Google) good environment(Origin...
2277          Gustavo Luna                                                 Kk
2282             Anonymous  💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜💜...

In [11]:
def preprocess_text(text):
    # Remove punctuation and numbers
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\d+', '', text)
    # Convert to lowercase
    text = text.lower()
    # Remove repetitive words
    text = text.strip()
    return text

# Apply enhanced preprocessing to the 'review' column

In [12]:
df['review']= df['review'].apply(preprocess_text)

In [13]:
df.tail()

                      name                                             review
2264       Ernesto Jimenez  translated by google t because it has a hydro ...
2274  Juan “Acmet666” Akym     translated by google excellentoriginalexelente
2276                   李洪勇  translated by google good environmentoriginal环境很好
2277          Gustavo Luna                                                 kk
2282             Anonymous

In [14]:
df.isnull().sum()

name      0
review    0
dtype: int64

In [15]:
df = df.replace('', np.nan)
df.isnull().sum()

name      0
review    1
dtype: int64

In [16]:
df=df.dropna()
df.isnull().sum()

name      0
review    0
dtype: int64

In [17]:
df.shape

(2267, 2)

In [18]:
df.head()

              name                                             review
0    Alissa Cotter  we stayed at this hotel last weekend for a sof...
1       Nicholas P  run away the management at this place has abso...
2    Lacey Mattsen  mediocre at best and this below isnt even the ...
3  Nicholas Parker  run away the management at this place has abso...
4    Shelby Bowles  was told they had a pool  hot tub get there an...

In [19]:
df.tail()

                      name                                             review
2263           Jorge Lopez  translated by google very good service and the...
2264       Ernesto Jimenez  translated by google t because it has a hydro ...
2274  Juan “Acmet666” Akym     translated by google excellentoriginalexelente
2276                   李洪勇  translated by google good environmentoriginal环境很好
2277          Gustavo Luna                                                 kk

In [20]:
df.sample(20)

                name                                             review
1459       Anonymous  great place to stay  very clean and the staff ...
1149       Anonymous  the location was the perfect location for our ...
1703       Anonymous  rooms were clean this is an older property so ...
1856       Anonymous  stay was great  nice rooms and great conferenc...
2177   Jeffery Raatz              one of the best that i have stayed in
1422  Monica Wiesman  attended a wedding there and had a great time ...
304        Anonymous  experience here was soso  hotel was clean staf...
1095     Barb Sawyer  held an internal meeting at the comfort suites...
247        Anonymous  love this hotel that i happened upon earlier t...
632        Surprises  registration was an effort even though i was p...
1697       Anonymous  hotel was good  not too impressed with choice ...
1182       Anonymous  great hotel clean pleasant staff comfortable b...
1758       Anonymous  the hotel room was very clean and was larger t...
1920       Anonymous  this is a nice place to stay if you are lookin...
1378       Anonymous  the property is in excellent condition the sta...
1651       Anonymous  everything was better than we had expected wou...
1506   Tone Coughlin  plenty of space but toilets tend to back up an...
637        Anonymous  the only problem we had with our stay at the j...
2258       Anonymous  fair fair fair fair fair fiar fair fair fair f...
2040   Robbie Hearan                       great staff  great pool area

In [21]:
df.to_csv("for_lda_reviews1.csv")